<md-toolbar color="primary" class="top-nav-bar">
  <span>X App</span>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav class="side-nav-bar" mode="side" opened="true">
    <md-nav-list>
      <div *ngFor="let menu of menus">
        <a *ngIf="!menu.hasSubMenu" md-list-item routerLink="{{menu.link}}" routerLinkActive="active-menu">
          <md-icon md-list-icon>{{menu.icon}}</md-icon>
          <span md-line>{{menu.name}}</span>
        </a>
        <!-- has sub-menus -->
        <a *ngIf="menu.hasSubMenu" md-list-item (click)="menu.collapsed = menu.collapsed === undefined ? true : menu.collapsed; menu.collapsed = !menu.collapsed">
          <md-icon md-list-icon>{{menu.icon}}</md-icon>
          <span md-line>{{menu.name}}</span>
          <button md-icon-button>
            <md-icon *ngIf="menu.collapsed">expand_more</md-icon>
            <md-icon *ngIf="!menu.collapsed">expand_less</md-icon>
          </button>
        </a>
        <md-nav-list *ngIf="menu.hasSubMenu" class="sub-menu-list" [ngClass]="{'hide': menu.collapsed === undefined ? true : menu.collapsed}">
          <a md-list-item *ngFor="let subMenu of menu.subMenus" routerLink="{{subMenu.link}}" routerLinkActive="active-menu">
            <md-icon md-list-icon>link</md-icon>
            <span md-line>{{subMenu.name}}</span>
          </a>
        </md-nav-list>
      </div>
    </md-nav-list>
  </md-sidenav>
  <div class="main-content">
    <div class="main-container"style="height:3000px;">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</md-sidenav-container>

