<md-toolbar color="primary" class="top-nav-bar">
  <span>X App</span>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav class="side-nav-bar" mode="side" opened="true">
    <md-nav-list>
      <md-list-item>
        <a md-line href="#">Baidu</a>
        <button md-icon-button>
            <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line href="#">Google</a>
        <button md-icon-button>
            <md-icon>info</md-icon>
        </button>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <div class="main-content">
    <div class="main-container"style="height:3000px;">
      <div>Hello</div>
    </div>
  </div>
</md-sidenav-container>

