<md-toolbar color="primary" class="top-nav-bar">
  <span>X App</span>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav class="side-nav-bar" mode="side" opened="true">
    <md-nav-list>
      <a md-list-item routerLink="dashboard" routerLinkActive="active-menu">
        <md-icon md-list-icon>folder</md-icon>
        <span md-line>Baidu</span>
      </a>
      <md-list-item (click)="collspan = !collspan">
        <md-icon md-list-icon>folder</md-icon>
        <span md-line>Google</span>
        <button md-icon-button>
            <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-nav-list class="sub-menu-list" [ngClass]="{'hide': collspan}">
        <a md-list-item routerLink="dummy" routerLinkActive="active-menu">
          <md-icon md-list-icon>link</md-icon>
          <span md-line>Picture</span>
        </a>
      </md-nav-list>
    </md-nav-list>
  </md-sidenav>
  <div class="main-content">
    <div class="main-container"style="height:3000px;">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</md-sidenav-container>

